* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #d6d6d6;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    transition: margin-right 0.3s ease;
    padding-bottom: 20px;
}
    .cart-open {
    margin-right: 300px;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#shop-icon {
    width: 40px;
    position: relative;
    cursor: pointer;
    margin-right: 30px;
}
#cart-count {
    position: absolute;
    top: 88px;
    right: 8px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 6px 10px;
    font-size: 12px;
    margin-right: 30px;
}
h1 {
    margin-left: 30px;
    font-weight: bold;
    font-size: 2.5rem;
}
#input {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 15px;
    margin-left: 40%;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    background-color: #9f9f9f;
    height: 100%;
    width: 90%;
    padding: 20px;
    margin-left: 80px;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.6);
}
#div-Icon {
   transition: all 0.3s ease;
}
.product {
    background-color: #cfcfcf;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    position: relative;
    max-height: 500px;
}
h2 {
    margin-bottom: 10px;
}
.img-product {
    width: 90%;
}
.plus {
    position: absolute;
    top: 0;
    right: 0;
    width: 10%;
    padding: 10px;
    border: none;
    background-color: yellow;
    cursor: pointer;
    transition: all 0.3s ease;
}
.plus:hover {
    background-color: darkorange;
}
em {
    display: block;
    margin-top: 10px;
}
.em {
    margin-top: 50px;
}
#cart {
    position: fixed;
    display: none;
    top: 60%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #9f9f9f;
    color: white;
    border-radius: 10px;
    padding: 20px;
    width: 35%;
    height: 300px;
    overflow: hidden;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.4);
}
.cart h2 {
    margin-bottom: 20px;
}
.cart-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 50%;
    position: absolute;
    color: white;
    bottom: 0;
   transition: all 0.3s ease;
}
.cart-button:hover {
    opacity: 0.8;
    color: black;
}
#checkout-button {
    background-color: yellow;
    font-weight: bold;
    left: 0;
}
#cancel-button {
    background-color: rgba(255, 0, 0, 0.39);
    font-weight: bold;
    right: 0;
}
.green {
    color: green;
    font-weight: bold;
}
.div {
    width: 100%;
    background-color: #c0c0c0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-left: 5px;
}
#total {
    position: absolute;
    top: 80%;
    left: 45%;
}
.btn {
    position: absolute;
    left: 92%;
    padding: 5px 7px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
.add {
    background-color: rgb(0, 173, 0);
    border: none;
    position: absolute;
    height: 30px;
    left: 74%;
    padding: 5px;
    color: white;
    margin-top: 13px;
    cursor: pointer;
    transition: all 0.5 ease;
}
.add:hover {
    background-color: rgb(0, 116, 0);
}
.price {
    position: absolute;
    top: 20px;
    font-size: 1.2rem;
}
.efect {
    color: gb(2, 162, 2);
    position: absolute;
    top: 80px;
    left: 95%;
    transition: all 0.5 ease;
}
.efectTwo {
    transform: translateX(-10px);
}
